<nav class="container">
  <ul>
    <li class="menu">&#9776;
    <div class="dropdown">
      <% if(locals.isAuthenticated) { %>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/events/new">Add Event</a></li>
        <li><a href="/events">Hen Schedule</a></li>
        <li><a href="/users">Visit the Coop</a></li>
        <li><a href="/users/<%= locals.user.id %>">My Profile</a></li>
        <li><a href="/">Home</a></li>
      <% } else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
  </ul>
</nav>
