
  <nav>
    <ul>
      <% if(locals.isAuthenticated) { %>
      <li><a href="/events">Hen Schedule</a></li>
      <li><a href="/users/<%= locals.user.id %>">My Profile</a></li>
      <li><a href="/users">All Hens</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } %>
    </ul>
  </nav>
