@import "bootstrap/bootstrap";

$white: #FAF6F4;
$brand-color: #380499;

* {
  font-family: inherit;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(120, 120, 120, 0);
  transition: background-color 0.2s ease;
  &.opaque {
    background-color: rgba(20, 20, 20, 0.6);
  }
  nav {
    font-size: 20px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
          margin-left:  0;
        }
        &.menu {
          display: none;
          font-size: 20px;
        }
        a {
          color: grey;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

body {
  font-family: 'Inconsolata', sans-serif;
  margin-bottom: 12%;
  font-size: 100%
}

a{
  color: grey;
  text-decoration: none;
}

h2 {
  @extend .heading-styles;
  font-size: 25px;
  color: $brand-color;
}

h3  {
  padding: 0px;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home {
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-weight: normal;
    a {
      color: #FFF;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid $brand-color;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
  }
}

.eventIndex {
  h2: {
    margin-top: 100px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $brand-color;
    font-family: 'Comfortaa', cursive;
    }

  h3:  {
    padding: 50px;
  }
}

.indexStyle {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  font-weight: bold;
}
.page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #750C75;
}

#chook {
  height: 100vh;
  background-image: linear-gradient(rgba(100, 0, 200, 0.2), rgba(100, 0, 0, 0.2)), url('../assets/images/partyGirls.png');
  background-size: cover;
  position: relative;
  font-family: 'Comfortaa', cursive;

  h1 {
   font-size: 60px;
   position: absolute;
   top: 60%;
   left: 70%;
   transform: translate(-50%, -50%);
   color: $white;
 }

 p {
   font-size: 26px;
   position: absolute;
   top: 85%;
   left: 70%;
   transform: translate(-50%, -50%);
   color: $white;
 }


 #subtext {
   font-size: 26px;
   position: absolute;
   text-decoration-style: wavy;
   top: 70%;
   left: 73%;
   transform: translate(-50%, -50%);
   color: $white;
 }
}

#addEvent {
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 255, 0, 0.1), rgba(0, 0, 100, 0.1)), url('../assets/images/rollerCoaster.png');
  opacity: 0.6;
  background-position: center ;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  .form-group {
      text-align: left;
      color:$white;
      margin: none;
      text-emphasis: strong;
  }
}
#backgroundImages {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/partyGirls.png');
  background-size: cover;
  position: relative;
  font-family: 'Comfortaa', cursive;
}

#layoutBasics {
  padding-left: 50px;
  font-size: 20px;
  background-color: #F3EBF9;
}

#map {
  height:400px;
  width:400px;
  display:block;
}

#profilePicture {
  height:550px;
  width:500px;
  padding: 20px;
}

#userIndex {
  padding: 20px;
}

#eventEdit {
  left: 10%;
}

#map {
height: 300px;
background-color: grey;
}

.infowindow {
  font-family: 'Inconsolata', monospace;
  color: $blue;
}

#logo {
  height: 100px;
  width: 100px;
}

#error404 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/chook.gif');
  background-position: center;
  background-size: cover;
  position: relative;
  color: $white;
  text-align: center;
  top: 50%;
}

footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
