@import "bootstrap/bootstrap";

$white: #FFF;
$brand-color: #c39797;


body {
  font-family: 'Inconsolata', sans-serif;
}

* {
  font-family: inherit;
}


a{
  color: black;
  text-decoration: none;
}

//check what this does
h2 {
  @extend .heading-styles;
  font-size: 34px;
  margin-top: 100px;
  margin-left: 100px;
}

h2 {
  font-size: 20px;
  position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  color: $brand-color;
}

h3  {
  padding: 0px;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 1px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20, 20, 20, 0);
  transition: background-color 0.2s ease;
  &.opaque {
    background-color: rgba(20, 20, 20, 0.6);
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
          margin-left:  0;
        }
        &.menu {
          color: red;
          cursor: pointer;
          display: none;
          font-size: 20px;
        }
        a {
          color: blue;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}




// Homepage
.home {
  // background-imgag: url(http://media.kentonline.co.uk/filerepository/archive/images2/chicken%20KE%20300413%20BH1_l.jpg);
  // height: calc(100vh - 50px);
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-weight: normal;
    a {
      color: #FFF;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.main {
  // height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/rooster_close_up.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
   font-size: 36px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: $white;
 }
}
section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid $brand-color;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
  }
}

//this is for the page which shows all the events in one place.
//Need to size images and headings and get layout for all devices
.eventIndex {
  h2: {
    margin-top: 100px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $brand-color;
    }
  h3:  {
    padding: 50px;
  }
}



#chook {
  //makes the image the height of the window
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/chook.gif');
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
   font-size: 36px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: $brand-color;
 }
 p {
   font-size: 26px;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: $brand-color;
 }
}

#map
{
  height:400px;
  width:400px;
  display:block;
}

#menus {
  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid $brand-color;
    padding: 5px 10px;
    font-weight: bold;
    color: $brand-color;
    display: inline-block;
    &:hover {
      border-style: dotted;
    }
  }
}
//
//
// #gallery {
//   .image {
//     background-position: center;
//     background-size: cover;
//     &:after {
//       content: "";
//       padding-bottom: 100%;
//       display: block;
//     }
//     &.image-one {
//       background-image: url('../assets/images/image-one.jpg');
//     }
//     &.image-two {
//       background-image: url('../assets/images/image-two.jpg');
//     }
//     &.image-three {
//       background-image: url('../assets/images/image-three.jpg');
//     }
//   }
// }
//
// #map {
// height: 300px;
// background-color: grey;
// }
//
footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
//
// @media only screen and (max-width: 575px) {
//
//   header {
//     height: auto;
//     nav {
//       ul {
//         li {
//           display: block;
//           float: none;
//           text-align: right;
//           &.menu {
//             display: block;
//           }
//         }
//         .dropdown {
//           display: none;
//         }
//       }
//     }
//   }
//
//   #gallery {
//     .image {
//       margin-bottom: 20px;
//     }
//   }
//
//   #menus {
//     a:not(:last-of-type) {
//       margin-bottom: 5px;
//     }
//   }
// }
