<h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>


<div class="fb-login-button" data-max-rows="1" data-size="small"
data-show-faces="false" data-auto-logout-link="true"></div>
