<div class="container-fluid ">
  <div class="indexStyle">
    <div class="page-header">
      <h1>Welcome Hens...  get to know eachother here.<small><br><br>Click on a user to find out how they know the hen and read a funny story about her.</small></h1>
    </div>

    <div class="row">
      <% users.forEach((user) => { %>
        <div class="col-sm-4" id="userIndex">
          <img class="img-fluid" src="<%= user.profileImageSRC %>" alt="<%= user.firstName %>" class="circle" width="304" height="236">
          <h3><a href="/users/<%= user.id %>"><%= user.username %></a></h3>
        </div>
      <% }) %>
    </div>
  </div>
</div>
