<%# do a complete review - DOES NOT WORK%>

<h2>List of Chooks in attendance</h2>

<br>
<br>
<br>

<div class=showUserList></div>

<% if (locals.isAuthenticated) { %>
    <% events.forEach((user) => { %>
      <div>
      <img src="<%= user.profileImage %>" alt="<%= user.username %>">
      <p><%= user.firstName %> && " " && <% user.lastName %></p>
      </div>
    <% }) %>
<% } %>


// <div class="eventOwner">
//   <p>Contact <%= event.createdBy %> for further information about this event.</p>
// </div>
//   </div>
