<%# do a complete review - DOES NOT WORK%>

<p>here</p>
<div class=showUser>

<% if (locals.isAuthenticated && locals.createdBy) { %>
<form method="POST" action="/users/<%= user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
<% } %>

<div class="row">
  <div class="column"
    <h1><%= user.firstName %></h1>
  </div>
  <br>
  <br>
  <br>

  <div class="image">
    <img src="<%= user.profileImageSRC %>" alt="<%= user.firstName %>">
  </div>
